* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#wrapper {
  min-width: 1200px;
  margin: 0 auto;
  padding-top: 180px;
}
/*-------------------헤더 Start-----------------*/
#header {
  position: fixed;
  height: 180px;
  z-index: 100;
  left: 0%;
  top: 0%;
  right: 0%;
  padding: 0 40px;
  background-color: #fff;
  transition: 0.3s;
}
#header .bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0;
  background: url(./images/bg-header-g.png) 0 0 repeat;
  animation: movebg 5s linear infinite;
}
#header .inner {
  position: relative;
  z-index: 99;
  max-width: 1520px;
  min-width: 1120;
  margin: 0 auto;
  height: 100%;
}
#header .inner h1 {
  position: absolute;
  left: 0;
  top: 20px;
  animation: linear ease-in-out;
  width: 130px;
}
#header .inner h1 img {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 20px 0 0;
}
#header .inner h2 {
  position: absolute;
  left: 50%;
  margin-left: -160px;
  width: 240px;
  text-align: center;
  top: -20px;
}
#header .inner h2 ul {
  display: inline-block;
  padding: 65px 0 0 0;
  border-top: 1px solid #c6c6c6;
  font-family: "Cinzel", serif;
  font-size: 30px;
  letter-spacing: 0.3em;
  text-align: center;
}
@keyframes movebg {
  0% {
    background-position: 0;
  }
  100% {
    background-position-y: 100%;
  }
}
/*-------------------헤더 End-------------------*/

/*-----------------소메뉴 Start-----------------*/
/* #gnb {
  width: 750px;
  margin: 0 auto;
}
#gnb .inner-gnb {
  text-align: center;
}
#gnb .inner-gnb ul li {
  display: inline-block;
  margin: 0 30px;
} */
/*-------------------소메뉴 End------------------*/

/* ----------------메인섹션 Start-----------------*/
main {
  width: 100%;
  height: 500vh;
}
.section {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: white;
}
.section._1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fdfdf3;
}
.section._2 {
  overflow: hidden;
  background-color: #fdfdf3;
  text-align: center;
  /* display: flex;
  justify-content: center; */
  vertical-align: middle;
}
.section._3 {
  background-color: #fdfdf3;
  display: flex;
  text-align: center;
  justify-content: center;
}
.section3 {
  width: 80%;
  margin: auto;
  height: 100vh;
  align-items: center;
}
.section._4 {
  overflow: hidden;
  background-color: #fdfdf3;
  text-align: center;
  vertical-align: middle;
}
.section._5 {
  background-color: #fdfdf3;
  display: flex;
  text-align: center;
  justify-content: center;
}
.section5 {
  width: 80%;
  margin: auto;
  height: 100vh;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
.heading {
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 44px;
  line-height: 54px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.text-block {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}
/* ----------------메인섹션 End-------------------*/

/* ----------------스크롤바 Start-----------------*/
.scroll-bar-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 50;
  width: 10px;
}
.scroll-bar {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 10px;
  height: 0px;
  background-color: #fff;
}
/* ----------------스크롤바 End-----------------*/

/*------------섹션1 이미지 슬라이드 START----------*/
.section._1 img {
  display: block;
  margin: 0px auto;
  padding: 180px 80px 0 80px;
  position: absolute;
  width: 100%;
  height: 95%;
}
.mySlides {
  display: none;
}
.slideshow-container {
  width: 80%;
  height: 100%;
  position: relative;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 54%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #ffd500;
  text-shadow: -1px 0 #d7d7d7, 0 1px #d7d7d7, 1px 0 #d7d7d7, 0 -1px #d7d7d7;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: #fdfdf3;
  /* background-color: rgba(0,0,0,0.8); */
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*---------------섹션1 이미지 슬라이드 END-----------------*/

/*---------------섹션2 서점정보, 이미지 START--------------*/
.section._2 img {
  width: 450px;
  height: 450px;
  align-content: center;
  overflow: hidden;
  /* box-shadow: gray 0px 5px 15px 0px; */
  transition: all 0.2s linear;
}
.here-spot {
  margin: auto;
  padding: 0;
  height: 50vh;
  width: 80%;
  display: inline-flex;
  /* justify-content: center; */
  opacity: 0;
}
.text {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}
.here-spot .text div:nth-child(1) {
  padding: 0 0 0 50px;
  margin: 0 auto;
}
.text table {
  text-align: left;
}
.text table th {
  font-size: 40px;
  padding: 10px;
  font-family: "Hahmlet", serif;
  font-weight: 400;
  text-align: center;
}
.text table td:nth-child(1) {
  width: 100px;
  font-family: "Hahmlet", serif;
  font-weight: 500;
  font-size: 25px;
}
.text table td:nth-child(2) {
  font-family: "Hahmlet", serif;
  padding: 20px 50px 20px 50px;
}
.here-spot .pic {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}
.here-spot2 {
  margin: auto;
  padding: 0;
  width: 80%;
  height: 50vh;
  display: inline-flex;
  justify-content: center;
  opacity: 0;
}
.here-spot2 .pic {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.here-spot2 .text div:nth-child(1) {
  padding: 0 50px 0 0;
}
.section._2 .pic2 {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.section._2 img:hover {
  transform: scale(1.3, 1.3);
}
/*-------------섹션2 서점정보, 이미지 End------------------*/

/*-------------섹션3 모달 START---------------------------*/
#modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
  background: #f5f5f5e0;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 600px;
  height: 600px;
  position: relative;
  top: -100px;
  padding: 10px;
}
#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 1px lightgray;
  color: black;
  font-size: 20px;
  font-family: "serif";
}
#modal .content {
  margin-top: 20px;
  padding: 0px 10px;

  color: black;
}
.content table td:nth-child(1) {
  width: 100px;
  font-family: "Hahmlet", serif;
  font-weight: 500;
  font-size: 20px;
}
.content table td:nth-child(2) {
  font-family: "Hahmlet", serif;
  padding: 20px 30px 20px 30px;
}
.section3book {
  position: relative;
  height: 100%;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.section3 img {
  width: 300px;
  height: 300px;
  align-items: center;
  overflow: hidden;
  box-sizing: content-box;
}
.modalbook {
  width: 300px;
  height: 300px;
  align-items: center;
  overflow: hidden;
  box-sizing: content-box;
  padding: 0 50px;
  position: relative;
  cursor: pointer;
  opacity: 0;
}
.modalbook .textbox {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #ffd500;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  font-family: "Hahmlet", serif;
  font-size: 30px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  /* text-shadow: -1px 0 rgba(255, 255, 255, 0.274), 0 1px white, 1px 0 white, 0 -1px white; */
}
.textbox:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.1s;
}
/*-------------섹션3 모달 End----------------------------*/

/*-------------섹션4 START-------------------------------*/
.section._4 img {
  width: 450px;
  height: 450px;
  align-content: center;
  overflow: hidden;
  /* box-shadow: gray 0px 5px 15px 0px; */
  transition: all 0.2s linear;
}
.here-spot4 {
  margin: auto;
  padding: 0;
  height: 50vh;
  width: 80%;
  display: inline-flex;
  /* justify-content: center; */
  opacity: 0;
}
.text {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}
.here-spot4 .text div:nth-child(1) {
  padding: 0 0 0 50px;
  margin: 0 auto;
}
.text table {
  text-align: left;
}
.text table th {
  font-size: 40px;
  padding: 10px;
  font-family: "Hahmlet", serif;
  font-weight: 400;
  text-align: center;
}
.text table td:nth-child(1) {
  width: 100px;
  font-family: "Hahmlet", serif;
  font-weight: 500;
  font-size: 25px;
}
.text table td:nth-child(2) {
  font-family: "Hahmlet", serif;
  padding: 20px 50px 20px 50px;
}
.here-spot4 .pic {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}
.here-spot3 {
  margin: auto;
  padding: 0;
  width: 80%;
  height: 50vh;
  display: inline-flex;
  justify-content: center;
  opacity: 0;
}
.here-spot3 .pic {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.here-spot3 .text div:nth-child(1) {
  padding: 0 50px 0 0;
}
.section._4 .pic2 {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.section._4 img:hover {
  transform: scale(1.3, 1.3);
}
/*-------------섹션4 End---------------------------------*/

/*-------------섹션5 카카오지도 START---------------------*/
.customoverlay {
  position: relative;
  bottom: 50px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}
.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.customoverlay a {
  display: block;
  text-decoration: none;
  color: #111;
  text-align: center;
  border-radius: 6px;
  font-size: 15px;
  font-family: "Hahmlet", serif;
  overflow: hidden;
  background: #ffd04e;
  background: #ffd04e
    url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
    no-repeat right 14px center;
}
.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 11px;
  font-weight: 500;
}
.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
/*-------------섹션5 카카오지도 End-------------------------*/
/* -------------메인 End-----------------------------------*/

/*--------------FOOTER START-------------------------------*/
footer {
  background-color: #fdfdf3;
}
footer .inner {
  width: 80%;
  height: 120px;
  margin: auto;
  align-items: center;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  border-collapse: separate;
  border-top: 1px solid #d7d7d7;
}
footer .head {
  width: 100%;
  font-family: "Hahmlet", serif;
  padding-left: 20px;
}
footer .head a {
  font-family: "Hahmlet";
  font-weight: 500;
  font-size: 15px;
  padding: 0 5px 0 7px;
}
footer a {
  font-family: "Hahmlet";
  font-size: 13px;
  padding-right: 20px;
}
/*--------------FOOTER End-------------------------------*/

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0%, 200%, 0); /*밑에서 올라오는 효과*/
  }
  to {
    opacity: 1;
    transform: translateZ(0); /*밑에서 올라오는 효과*/
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

/* @media screen and (max-width: 768px) {
    #header {
       height:92px;
    }
} */
